# Domain for self-SNI
DOMAIN=site.example.com
ACME_EMAIL=you@example.com
# API Token: Zone -> DNS -> Edit (+ Zone -> Zone -> Read) only for specific domain zone
CF_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Note: If you want to use a custom template, you can set the URL below.
# TEMPLATES_URL=https://github.com/GFW4Fun/randomfakehtml/archive/refs/heads/master.zip
